*{
    background-color:rgb(42, 127, 184)

}

a{
    color:aliceblue
}

.logo_home{
    width: 400px;
}

.ft_selecao{
    width: 500px;
}

.ft_estadio1{
    width: 670px;
}

.ft_estadio2{
    width: 500px;
}